<div class="bg-white dark:bg-gray-800 relative shadow-md overflow-hidden">
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="w-full text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          {{#each columns}}
          <th scope="col" class="px-4 py-3">{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each rows as |row|}}
        <tr class="border-b border-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
          {{#each row as |cell|}}
          {{#if cell.isLink}}
          <td class="px-2 py-2">
            <a href="{{cell.href}}" target="_blank">{{cell.text}}</a>
          </td>
          {{else if cell.isMailto}}
          <td class="px-2 py-2">
            <a href="mailto:{{cell.href}}">{{cell.text}}</a>
          </td>
          {{else if cell.isArray}}
          <td class="px-2 py-2">
            <div class="flex min-w-40 flex-wrap gap-1">
              {{#each cell.value as |item|}}
              <span
                class="inline-flex bg-{{or cell.color 'primary'}}-100 text-{{or cell.color 'primary'}}-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-{{or cell.color 'primary'}}-900 dark:text-{{or cell.color 'primary'}}-300">
                {{item}}</span>
              {{/each}}
            </div>
          </td>
          {{else if cell.isActions}}
          <td class="px-4 py-2 text-right">
            <button id="dropdown-button-{{cell.value}}" type="button" data-dropdown-toggle="dropdown-{{cell.value}}"
              class="inline-flex items-center p-1 text-sm font-medium text-center text-gray-500 hover:text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
              {{> icons/dots_horizontal}}
            </button>
            <div id="dropdown-{{cell.value}}"
              class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdown-button-{{cell.value}}">
                <li>
                  <button data-modal-target="{{cell.value}}" data-modal-toggle="{{cell.value}}"
                    class="block py-2 px-4 w-full text-left font-bold text-red-600 dark:text-red-400 hover:bg-red-50 hover:text-red-700">
                    {{!-- FIX: Valeur vide ici quand on essaye message.actions.delete :/ --}}
                    Supprimer
                  </button>
                </li>
              </ul>
            </div>
            {{#> modal id=cell.value }}
            {{> forms/ofs/delete id=cell.value name=(rowName row)}}
            {{/modal}}
          </td>
          {{else}}
          <td class="py-2">
            <span class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{cell}}</span>
          </td>
          {{/if}}
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
    aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
      Affichage
      <span
        class="font-semibold text-gray-900 dark:text-white">{{pagination.lowOffset}}-{{pagination.highOffset}}</span>
      de
      <span class="font-semibold text-gray-900 dark:text-white">{{pagination.totalCount}}</span>
    </span>
    {{#if (or pagination.hasPreviousPage pagination.hasNextPage)}}
    <ul class="inline-flex items-stretch -space-x-px">
      {{#each pagination.pages as |page|}}
      <li>
        {{#if page.isPrevious}}
        {{#if page.disabled}}
        <span
          class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-400 bg-white rounded-l-lg border border-gray-300 cursor-not-allowed dark:bg-gray-800 dark:border-gray-700 dark:text-gray-500">
          <span class="sr-only">Précédent</span>
          {{> icons/chevron_left}}
        </span>
        {{else}}
        <a href="?page={{page.number}}&pageSize={{../pagination.pageSize}}"
          class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Précédent</span>
          {{> icons/chevron_left}}
        </a>
        {{/if}}
        {{else if page.isNext}}
        {{#if page.disabled}}
        <span
          class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-400 bg-white rounded-r-lg border border-gray-300 cursor-not-allowed dark:bg-gray-800 dark:border-gray-700 dark:text-gray-500">
          <span class="sr-only">Suivant</span>
          {{> icons/chevron_right}}
        </span>
        {{else}}
        <a href="?page={{page.number}}&pageSize={{../pagination.pageSize}}"
          class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Suivant</span>
          {{> icons/chevron_right}}
        </a>
        {{/if}}
        {{else if page.number}}
        <a href="?page={{page.number}}&pageSize={{../pagination.pageSize}}"
          class="flex items-center justify-center text-sm py-2 px-3 leading-tight {{#if page.isCurrent}}text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white{{else}}text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white{{/if}}">{{page.number}}</a>
        {{else if page.isEllipsis}}
        <span
          class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-400 bg-white border border-gray-300 cursor-not-allowed dark:bg-gray-800 dark:border-gray-700 dark:text-gray-500">...</span>
        {{/if}}
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </nav>
</div>
