{{> breadcrumb links=breadcrumbLinks }}
{{> page_header title=title}}

<div class="px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <div class="flex flex-col gap-2">
    <a href="/ofs">
      <div
        class="bg-white p-4 rounded-lg shadow-md text-gray-700 bg-gray-50 dark:bg-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200">
        <h3 class="text-2xl font-semibold mb-2">{{ofss.totalCount}}</h3>
        <p class="font-medium text-gray-600 dark:text-gray-400">{{translations.contents.ofs.title}}</p>
      </div>
    </a>
    <button type="button" data-modal-target="createOfs" data-modal-toggle="createOfs" class="block">
      <div
        class="bg-white p-4 rounded-lg shadow-md text-gray-700 bg-gray-50 dark:bg-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200">
        <div class="flex items-center justify-center gap-2">
          {{> icons/plus width="5" height="5" }}
          <span class="font-medium">{{translations.contents.ofs.action.label}}</span>
        </div>
      </div>
    </button>
    {{#> modal id="createOfs" actionLabel=translations.contents.ofs.action.label}}
    {{> forms/ofs/create actionLabel=translations.contents.ofs.action.label}}
    {{/modal}}
  </div>

  <div class="flex flex-col gap-2">
    <a href="/distributors">
      <div
        class="bg-white p-4 rounded-lg shadow-md text-gray-700 bg-gray-50 dark:bg-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200">
        <h3 class="text-2xl font-semibold mb-2">{{distributors.totalCount}}</h3>
        <p class="font-medium text-gray-600 dark:text-gray-400">{{translations.contents.distributors.title}}</p>
      </div>
    </a>
    <button type="button" data-modal-target="createDistributor" data-modal-toggle="createDistributor" class="block">
      <div
        class="bg-white p-4 rounded-lg shadow-md text-gray-700 bg-gray-50 dark:bg-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200">
        <div class="flex items-center justify-center gap-2">
          {{> icons/plus width="5" height="5" }}
          <span class="font-medium">{{translations.contents.distributors.action.label}}</span>
        </div>
      </div>
    </button>
    {{#> modal id="createDistributor" actionLabel=translations.contents.distributors.action.label}}
    {{> forms/distributor/create actionLabel=translations.contents.distributors.action.label}}
    {{/modal}}
  </div>

  <div class="flex flex-col gap-2">
    <div class="bg-white p-4 rounded-lg shadow-md text-gray-700 bg-gray-50 dark:bg-gray-800 dark:text-gray-200">
      <h3 class="text-2xl font-semibold mb-2">{{regions.totalCount}}</h3>
      <p class="font-medium text-gray-600 dark:text-gray-400">{{translations.contents.regions.title}}</p>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div class="bg-white p-4 rounded-lg shadow-md text-gray-700 bg-gray-50 dark:bg-gray-800 dark:text-gray-200">
      <h3 class="text-2xl font-semibold mb-2">{{departements.totalCount}}</h3>
      <p class="font-medium text-gray-600 dark:text-gray-400">{{translations.contents.departements.title}}</p>
    </div>
  </div>
