<form action="/ofs" method="post">
  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div>
      <label for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{translations.fields.name}}</label>
      <input type="text" name="name" id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Nom de l'OFS" required>
    </div>
    <div>
      <label for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{translations.fields.phone}}</label>
      <input type="text" name="phone" id="phone"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="0102030405">
    </div>
    <div>
      <label for="websiteUrl"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{translations.fields.websiteUrl}}</label>
      <input type="text" name="websiteUrl" id="websiteUrl"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="https://domaine.fr" pattern="https?://.+" title="{{translations.fields.websiteUrlInputHint}}">
    </div>
    <div>
      <label for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{translations.fields.email}}</label>
      <input type="text" name="email" id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="ofs@domaine.fr">
    </div>
  </div>

  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div class="flex items-center">
        <input type="checkbox" name="producesBrs" id="producesBrs" value="" {{#if ofs.producesBrs}}checked{{/if}} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="producesBrs" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{translations.fields.producesBrs}}</label>
    </div>
  </div>

  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div>
      <label for="regionNames"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{translations.fields.regions}}</label>
      <select multiple id="regionNames" name="regionNames[]" size="10"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        {{#each regions.items as |region|}}
        <option value="{{region.name}}">{{region.name}}</option>
        {{/each}}
      </select>
    </div>

    <div>
      <label for="departementNames"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{translations.fields.departements}}</label>
      <select multiple id="departementNames" name="departementNames[]" size="10"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        {{#each departements.items as |departement|}}
        <option value="{{departement.name}}">{{departement.code}} - {{departement.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="mb-4">
    <label for="distributorIds"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{translations.fields.distributors}}</label>
    <select multiple id="distributorIds" name="distributorIds[]" size="10"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      {{#each distributors.items as |distributor|}}
      <option value="{{distributor.id}}">{{distributor.name}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit"
    class="text-white mt-4 inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
    {{actionLabel}}
  </button>
</form>
